@use "../styles/layout.module.scss" as l;

.history {
  display: flex;
  flex-flow: column;
  gap: l.$primary-spacing;
  margin-left: l.$primary-spacing;
  margin-right: l.$primary-spacing;
}

.experience {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  position: relative;
  justify-content: space-between;
}

.title {
  flex: 0 1 auto;
  font-weight: bold;
  line-height: l.$primary-title-line-height;
}

.company {
  display: flex;
  flex: 0 1 100%;
  margin: 0;
  gap: l.$primary-text-separator-gap;
  line-height: l.$primary-subtitle-line-height;

  font-style: italic;
}

.location {
  flex: 1 1 auto;

  &::before {
    content: "\2014";
    margin-right: l.$primary-text-separator-gap;
  }
}

.responsibilities {
  margin-top: l.$body-text-item-gap;
  flex: 1 0 100%;
}

.responsibility {
  margin-left: l.$list-indent;
  list-style-type: circle;
  line-height: l.$body-text-line-height;
}
