@use "../../styles/colors.module" as c;
@use "../../styles/layout.module" as l;

.banner {
  background: c.$light-primary-background-color;
  display: inline-block;
  position: relative;
  padding: 1rem 2rem 1rem 1rem;
  box-shadow: c.$light-primary-background-shadow-color l.$shadow-spacing
    l.$shadow-spacing;

  @media (prefers-color-scheme: dark) {
    background: c.$dark-primary-background-color;
    box-shadow: c.$dark-primary-background-shadow-color l.$shadow-spacing
      l.$shadow-spacing;
  }
}
