@use "../../styles/colors.module" as c;
@use "../../styles/layout.module.scss" as l;

.card {
  box-shadow: c.$light-card-outline -#{l.$shadow-spacing} -#{l.$shadow-spacing},
    c.$light-card-outline-shadow l.$shadow-spacing l.$shadow-spacing;
  padding: 1rem;
  background-color: c.$light-card-background;
  transition: all 0.5s;

  @media (prefers-color-scheme: dark) {
    border: 2px solid c.$dark-card-outline;
    background-color: c.$dark-card-background;
  }

  &:hover {
    background-color: c.$light-card-hover-background;

    @media (prefers-color-scheme: dark) {
      background-color: c.$dark-card-hover-background;
    }
  }
}
