@use "../../styles/colors.module" as c;
@use "../../styles/layout.module" as l;

.floatTag {
  position: absolute;
  right: l.$float-tag-offset;
  top: l.$float-tag-offset;
  color: c.$light-secondary-text-color;
  background: c.$light-secondary-background-color;
  border: l.$secondary-border-thickness solid c.$light-secondary-border-color;
  padding: 0.5rem;

  @media (prefers-color-scheme: dark) {
    color: c.$dark-secondary-text-color;
    background: c.$dark-secondary-background-color;
    border: l.$secondary-border-thickness solid c.$dark-secondary-border-color;
  }
}
