@use "../../styles/colors.module.scss" as c;

.nav {
  display: flex;
  gap: 10px;
  align-items: center;

  @media (min-width: 350px) {
    align-items: baseline;
  }

  ul {
    flex: 1 1 auto;
    flex-flow: row wrap;
    display: flex;
    vertical-align: text-bottom;
    gap: 0.5rem;
  }

  background: c.$light-primary-background-color;
  border-bottom: 2px solid c.$light-primary-accent-border-color;
}

.name {
  flex: 0 0 auto;
  margin: 1rem;
}

.outbound::after {
  content: "\1F865";
  font-size: 0.8rem;

  display: inline-block;
  position: relative;
  vertical-align: text-top;
  transform: translateY(-0.3em);
}
