$light-primary-text-color: black;
$light-primary-background-color: white;
$light-primary-background-shadow-color: rgb(250, 250, 250);

$light-secondary-text-color: black;
$light-secondary-background-color: #f6f6ff;
$light-secondary-border-color: white;

$dark-primary-background-color: rgb(30, 30, 30);
$dark-primary-background-shadow-color: rgba(60, 60, 60, 0.8);

$dark-secondary-text-color: #fafafa;
$dark-secondary-background-color: #030303;
$dark-secondary-border-color: #6c6c6c;
