.enrollment {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  align-items: baseline;
  position: relative;
}

.school {
  display: flex;
  flex-flow: row wrap;
  gap: 0.25rem;
  align-items: baseline;
  margin-bottom: 0.25rem;
  flex: 1 1 50%;
}

.school i {
  font-size: 0.9em;
}

.enrollment h3,
.enrollment h4 {
  margin: 0;
}

.period {
  position: absolute;
  right: 1rem;
  top: -1rem;
  background: #f6f6ff;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.title {
  flex: 1 0 100%;
  margin: 0;
}

.enrollment ul {
  margin-left: 1rem;
}
