$shadow-spacing: 2px;
$float-tag-offset: -1rem;

$secondary-border-thickness: 2px;

$primary-spacing: 2rem;
$primary-title-line-height: 2em;
$primary-subtitle-line-height: 1.5em;
$primary-text-separator-gap: 0.5em;
$body-text-line-height: 1.5rem;
$body-text-item-gap: 1rem;
$list-indent: 1.5rem;
