.proficiencyList {
    display: flex;
    flex-flow: column;
}


.skillList {
    display: flex;
    flex-flow: column;
    gap: 1rem;

    min-width: 60vw;
    align-self: stretch;

}

.category {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    align-items: flex-start;
}

.category > span {
    flex: 1 1 auto;
    max-width: 10rem;
    text-align: right;
}

.skills {
    align-self: stretch;
    max-height: 25vh;
    display: flex;
    flex-flow: column wrap;
    gap: 0.5rem;
    flex: 2 1 50%;
    overflow-x: scroll;
    align-content: flex-start;
}

.skills li {
    border-radius: 0.5rem;
    padding: 0.1rem 0.2rem;
    display: flex;
    width: 40vw;
}

.skills li::before {
    content: "\25C8";
    margin-right: 0.2em;
}

@media (min-width: 600px) {
    .category {
        flex-flow: row wrap;
        gap: 1rem;
    }

    .category > span {
        flex: 1 1 4rem;
    }

    .skillList {
        align-self: center;
        max-width: 80vw;
    }
    .skills {
        max-height: 25vh;
    }
}
