.history {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.experience {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: baseline;
  position: relative;
  justify-content: space-between;
}

.title {
  flex: 0 1 auto;
  font-weight: bold;
}

.company {
  display: flex;
  flex: 0 1 100%;
  margin: 0;
  gap: 0.5rem;

  font-style: italic;
}

.location {
  flex: 1 1 auto;

  &::before {
    content: "\2014";
    margin-right: 0.5rem;
  }
}

.responsibilities {
  flex: 1 0 100%;
}

.responsibility {
  margin-left: 1.5rem;
  list-style-type: circle;
}
